@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', Verdana, sans-serif;
    text-decoration: none;
}

html {
    background: #181A1B;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100vw;
    display: flex;
    border-bottom: 3px solid #2e2e2e;
}

header h1 {
    margin: auto;
    padding: .5em 0;
    font-size: 3em;
}

a:hover{
    color: #ddd
}

input, select {
    border: 3px solid #363636;
    border-radius: 10px;
    outline: none;
}

.content{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

#schedule{
    width: 45%;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#schedule h2{
    font-weight: bold;
    font-size: 4em;
    padding-top: .5em;
}

#schedule h3{
    font-weight: normal;
    font-size: 2.5em;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


img#schedule-img {
    width: 45%;
    max-height: 60vh;
    border: 2px solid gray;
    border-radius: 25px;
    filter: invert(1) grayscale();
    display: inline-block;
    margin: 2em;
}

.settings{
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 2em;
}

.settings select, .settings input#offset{
    background: none;
    font-size: 1.1em;
}

.settings input[type=checkbox]{
    transform: scale(4);
}

#clock {
    padding: 1em;
    color: #0f0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em !important;
    justify-content: center;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.glow {
	text-shadow: #0f0 0px 0px 5px, #00ff00c4 0px 0px 10px, #00ff008c 0px 0px 15px, #00ff005e 0px 0px 20px;
}