@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', Verdana, sans-serif;
    text-decoration: none;
}

html {
    background: linear-gradient(#555, #222);
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    display: flex;
    border-bottom: 3px solid white;
}

header h1 {
    margin: auto;
    padding: .5em 0;
    font-size: 3em;
}

a:hover{
    color: #ddd
}


.content{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

#schedule{
    width: 45%;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#schedule h2{
    font-weight: bold;
    font-size: 4em;
    padding-top: .5em;
}

#schedule h3{
    font-weight: normal;
    font-size: 2.5em;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


img#schedule-img {
    width: 45%;
    height: auto;
    border: 2px solid black;
    border-radius: 25px;
    filter: invert(1) grayscale();
    display: inline-block;
    margin: 2em;
}

.test{
    position: fixed;
    bottom: 0vh;
    transform: translate(0%, -50%);
    font-size: 2em;
}

.test select{
    background: #111;
    font-size: 1.1em;
}

.test input{
    transform: scale(2);
}

#clock {
    padding: 1em;
    color: lime;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em !important;
    justify-content: center;
    display: flex;
}