* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    background: #333;
}

.subtitle {
    padding-top: .5em;
}

img#schedule {
    min-width: 400px;
    max-width: 85%;
    border: 2px solid black;
    border-radius: 25px;
    filter: invert(1);
}