@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

table {
    border-collapse: collapse;
}

thead {

    background: linear-gradient(#7E9FBC, #0F4D83);
    padding: 0;
    margin: 0;
}

th {
    color: #fff;
    padding: 1em;
    margin: 0;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: .2em;
}

.grade-table {
    background: white;
    color: black;
}

#totalRow {
    font-weight: bold;
}